.layout {
  height: 100%;
  .title {
    color: white;
    font-weight: 600;
    font-size: 22px;
  }
  .overlay {
    .logout {
      cursor: pointer;
    }
  }
  .userAvatarDetails {
    float: right;
    .userName {
      color: white;
      margin-right: 10px;
    }
  }
}